.page404 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}

.page404__error {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    padding: 0;
    margin-top: 244px;
}

.page404__text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.page404__button {
    color: #4285F4;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-top: 184px;
    cursor: pointer;
    z-index: 0;
    position: relative;
}


.page404__button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.page404__button:active {
    color: #000
}

.page404__button:active:after {
    background: transparent;
}

.page404__button:hover:before {
    opacity: 1;
}

.page404__button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #202020;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@media screen and (max-width: 768px) {
    .page404__error {
        margin-top: 407px;
    }
}

@media screen and (max-width: 530px) {
    .page404__error {
        font-size: 80px;
        margin-top: 329px;
        margin-bottom: 10px;
    }

    .page404__text {
        font-size: 12px;
    }

    .page404__button {
        font-size: 12px;
        margin-top: 284px;
    }
}



