.header__logedin {
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 18px;
}

.header__logedin-container {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: [start] 38px [line2] 212px [line3] auto [end];
    flex-direction: row;
    justify-items: end;
    gap: 44px;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(-5px);
        transform: translateY(-5px);
    }
}


.header__logedin-logo {
    width: 38px;
    height: 38px;
}

.header__logedin-logo:hover {
    animation: bounce 1s;
}


.header__movies-container {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 212px;
}

.header__films {
    color: #FFF;
    text-align: right;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
}

.header__films:hover {
    cursor: pointer;
    transition: .7s linear;
    color: #000;
    background-color: #2BE080;
    border-radius: 3px;
}

.header__saved-films {
    color: #FFF;
    text-align: right;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.header__saved-films:hover {
    cursor: pointer;
    transition: .7s linear;
    color: #000;
    background-color: #2BE080;
    border-radius: 3px;
}

.header__navigation {
    display: flex;
}

.header__account-button {
    display: flex;
    gap: 17px;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}

.header__account-button:hover {
    cursor: pointer;
    transition: .7s linear;
    color: #000;
    background-color: #2BE080;
    border-radius: 6px;
}

.header__wrapper {
    width: 26px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__wrapper:hover {
    background-color: #2BE080;
}

.header__navigation-logo {
    width: 11.5px;
    height: 14px;
    flex-shrink: 0;
}

.header__navigation-logo:hover {
    background-color: transparent;
}
