.techs {
    display: block;
}

.techs__container {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 70px;
    padding-right: 70px;
    background: #272727;
}

.techs__title {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    letter-spacing: -0.88px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 0;
    padding-bottom: 23px;
    margin: 0;
    border-bottom: 1px solid #DADADA;
    color: #FFF;
}

.techs__subtitle {
    margin-top: 90px;
    margin-bottom: 26px;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
    font-weight: 400;
}

.techs__about {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Inter;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.56px;
    display: flex;
    width: 460px;
    flex-direction: column;
    margin: auto;
}

.techs__items {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 100px;
}

.techs__item {
    border-radius: 10px;
    background: #303030;
    width: 90px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Inter;
    letter-spacing: -0.56px;
    font-weight: 400;
    line-height: 17px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.techs__item:hover {
    cursor: default;
    transition: .7s ease-in-out;
    color: #000;
    background-color: #2BE080;
    border-radius: 10px;
}
