.aboutme__container {
    padding-top: 110px;
    padding-bottom: 125px;
    padding-left: 70px;
    padding-right: 70px;
}

.aboutme__info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.aboutme__wrapper {
    display: flex;
}

.aboutme__title {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    letter-spacing: -0.88px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 0;
    padding-bottom: 23px;
    margin: 0;
    margin-bottom: 66px;
    border-bottom: 1px solid #DADADA;
    color: #FFF;
}

.aboutme__avatar {
    margin-left: auto;
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: cover;
}

.aboutme__name {
    color: #FFF;
    max-width: 600px;
    font-size: 50px;
    font-family: Inter;
    line-height: 58px;
    letter-spacing: -2px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: 18px;
}

.aboutme__job {
    max-width: 600px;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    margin: 0;
    margin-bottom: 26px;
}

.aboutme__biography {
    max-width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
    margin: 0;
    margin-bottom: 99px;

}

.aboutme__github {
    color: #FFF;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    text-decoration: none;
    text-align: center;
    max-width: 46px;
}

.aboutme__github:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: .7s ease-in-out;
    color: #000;
    text-decoration: none;
    background-color: #2BE080;
    border-radius: 3px;
    max-width: 46px;
    text-align: center;
    font-weight: 400;
}
